#admin_page{
    background-color: #1c1e21;
    padding: 2%;
    height: 100%;
}

.project-form {
    background-color: #282c34;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}

.submit-button {
    min-width: 100%;
}

.projects {
    background-color: #282c34;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    margin: 1% 0;
}

.project-image {
    width: 75%;
    height: auto;
}

.project-desc-pre {
    white-space: pre-line;
    font-family: "Maison Neue", Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
}