#admin_page{
    background-color: #1c1e21;
    padding: 2%;
    height: 100vh;
}

.project-form {
    background-color: #282c34;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
}

.submit-button {
    min-width: 100%;
}