#projects {
  background-color: #1c1e21;
  min-height: 100%;
}

.project-col {
  min-height: 25rem;
}

.project-div {
  overflow: hidden;
}

.project-image {
  object-fit: cover;
}

.project-info-div {
  z-index: 99;
  background-color: #282c34;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project-desc {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-div:hover > .project-info-div {
  opacity: .9;
  cursor: pointer;
}

.project-div:hover > .project-image {
  -webkit-animation: background-pan 5s ease-out both;
	animation: background-pan 5s ease-out both;
}