#contact {
    background-color: #000;
    min-height: 100vh;
}

.my-icon {
    transition: all .2s ease-in-out;
}
  
.my-icon:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    cursor: pointer;
    text-decoration: none !important;
    color: #ffffff !important;
}

@media screen and (max-width: 576px) {
    #contact {
        padding-top: 2.5rem;
    }
}