#home {
    background-color: #000000;
}

.intro {
    min-height: 100vh;
}

.about {
    min-height: 100vh;
}

@media screen and (max-width: 576px) {
    .intro {
        padding-top: 2.5rem;
    }
}