#footer {
    background-image: none;
    background-color: #000000;
}

@media screen and (min-width: 992px) {
    #footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: transparent;
        background-image: linear-gradient(to top, rgba(0, 0, 0), rgb(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    }
}